html{
    font-size: 7px;
    font-family:'Poppins',Helvetica,Arial,Lucida,sans-serif;
}
body{
    color: white;
    margin: 0px;
    background-color: rgb(229, 235, 247);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#btn-menu{
    width: 25px;
    height: 25px;
    padding: 12.5px;
}
.logo{
    width: 50px;
    height: 50px;
}
header{
    background-color:rgba(69, 90, 100);
    position: sticky;
    top: 0px;
}
nav ul.show-nav{
    display: flex;
}
nav ul{
    display: none;
    flex-direction: column;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav ul li{
    padding: 10px 20px;
    list-style: none;
    font-size: 1.5rem;
}
nav ul li:hover{
    color: rgb(196, 202, 206);
    border-bottom: 3px rgb(196, 202, 206) solid;
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav ul li.contacto-nav{
    color: rgb(32, 176, 193);
}
nav ul li.contacto-nav:hover{
    color: white;
    background-color: rgb(32, 176, 193);
    border-bottom: 3px white solid;
}
.cartelera-article{
    background-image: url(images/fondo-cartelera.jpg);
    grid-area:cartelera;
}
.cartelera-article,.porque-contador-texto-article,.contenedor-lista-servicios{
    background-repeat: no-repeat;
    background-size:cover;
}
.cartelera-article,.porque-contador-texto-article,.porque-contador-imagen{
    min-height: 300px; 
}
.cartelera-article,.porque-contador-texto-article,.porque-contador-imagen,.acerca-de-article,.opiniones-clientes,.contenedor-lista-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartelera-section, .porque-contador-texto-section{
    text-align: center;
    padding: 10%;
    font-size: 2rem;
}
.cartelera-section h1{
    font-size: 4rem;
}
.porque-contador-texto-article{
    grid-area: porque-contador-texto;
    animation: pulse 20s infinite;
    font-family:initial;
}
@keyframes pulse {
    0% {
        background-color:rgb(247, 240, 240);
        color: rgb(151, 149, 153); 
    }
    50% {
        background-color:rosybrown;
        color: white;
    }
    100%{
        background-color:rgb(247, 240, 240);
        color: rgb(151, 149, 153); 
    }
  }
.porque-contador-texto-article h1{
    font-weight: bold;
    color:rgb(32, 41, 47);   
}
.porque-contador-imagen{
    grid-area: porque-contador-imagen;
    background-color: rgb(20, 187, 203);
    text-align: center;
}
.porque-contador-imagen figure img{
    width: 70%;
    height: 100%;
    padding: 50px 0px;
}
.acerca-de-article,.opiniones-clientes{
    font-size: 1.5rem;
}
.acerca-de-article{
    grid-area: acerca-de;
    background: linear-gradient(to left,rgb(80, 49, 60), rgb(80, 49, 60,0.5));
    min-height: 600px;
}
.acerca-de-article div section{
    padding: 10px 20% 0px 20%;
}
.acerca-de-article h1{
    text-align: center;
}
.acerca-de-article figure{
    display: flex;
    align-items: center;
    justify-content: center;
}
.acerca-de-article p{
    text-align: justify;
}
.acerca-de-article figure img.imagen-contadora{
    width: 70%;   
}
.btn-carousel-right, .btn-carousel-left{
    width: 3%;
    padding: 3%;
}
.opiniones-clientes{
    min-height: 600px;
    grid-area: opiniones-clientes;
    background-color: white;
    text-align: center;
    color: rgb(32, 41, 47); 
}
.contenedor-opiniones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opinion{
    padding: 30px 0px;
    width: 50%;
}
.comilla-opinion, .pie-opinion{
    font-weight: bold; 
    font-style: italic;
}
.comilla-opinion{
    font-size: 2rem;
    font-family:comic;
}
footer{
    padding: 50px 0px;
    background-color:rgba(69, 90, 100);
    display: flex;
    justify-content:space-around;
    align-items:center;  
}
.icono-redes{
    width: 10px;
    height: 10px;
    padding: 2px;
    border: 1px solid black;
    margin: 2px;
}
.icono-redes:hover{
    background-color: rgb(32, 176, 193);
    border-color: rgb(32, 176, 193); 
}
.redes-contenedor{
    display: flex;
}
.titulo-negrita-footer{
    font-weight: bold;
}
.container{
    display: grid;
    grid-template-areas: 
    "cartelera"
    "porque-contador-texto"
    "porque-contador-imagen"
    "acerca-de"
    "opiniones-clientes";
}
.centrar-contenedor-form-contacto{
    align-items: center;
    display: flex;
    justify-content:center;
}
.contenedor-form-contacto{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    background-color:rgb(80, 49, 60);
    border-radius: 10px;
    box-shadow:7px 7px 20px rgba(69, 90, 100);
    text-align: center;
    padding: 20px;
}
.contenedor-form-contacto,.form-contacto select,.form-contacto input,.form-contacto textarea,.form-contacto button{
    font-size: 1.5rem;  
}
.form-contacto select,.form-contacto input,.form-contacto textarea{
    background-color: rgb(238, 238, 238);
    font-family: 'Courier New', Courier, monospace;
    border: none;
    color: grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
    width: 70%;
}
#check-politica-privacidad{ 
    width: 15px;
}
.form-contacto button,.only-admin button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(32, 176, 193);  
    color: white;
    border: none;
    border-radius: 5px;
}
.texto-politica-privacidad{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
#imagen-captcha{
    width:50%;
    height: 50%;
    margin-top: 10px;
}
.envio-correcto{
    color:rgb(110, 255, 110);
}
.envio-incorrecto{
    color:red;
}
.contenedor-lista-servicios{
    background-image: url(images/servicios-fondo.jpg);
    min-height: 350px;
}
.lista-servicios{
    text-align: center;
    width: 90%;
    list-style: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0px;
    margin:0px;
}
.lista-servicios li{
    font-size: 1.8rem;
    padding:10px;
    margin:20px 0px;
    background-color: rgb(80, 49, 60,0.4);
    border-radius: 50px;
}
.contenedor-tabla-monotributo{
    display: flex;
    justify-content: center;
}
.monotributo{
    font-size: 1.2rem;
    padding: 20px;
    margin: 20px 0px;
    color:rgb(32, 41, 47); 
}
.tabla-monotributo{
    margin-top: 5px;
    text-align:center;
    border-collapse:collapse;
}
td,th{
    font-size: 1rem;
    padding:10px 4px;
}
th{
    color: white;
    width: 30%;
}
tbody{
    font-weight:bold;
    background-color: rgb(218, 225, 228);
}
.th-categoria{
    width:10%;
}
th:nth-child(odd){
    background-color:rgb(80, 49, 60);
}
th:nth-child(even){
    background-color:rgb(180, 219, 208);
}
tr.resaltar-brutos-altos{
    background-color: rosybrown;
}
.monotributo p{
    text-align: justify;
}
.monotributo h1, .only-admin p{
    text-align: center;
}
.monotributo span{
    font-weight: bold;
}
.contenedor-only-admin{
    display: flex;
    justify-content: center;
}
.only-admin{
    margin-top: 20px;
    border: 4px white solid;
    border-radius: 10px;
    background-color:rgb(80, 49, 60);
    padding: 40px 10px;
    color: white;
    width: 80%;
}
.only-admin select, .only-admin input, .only-admin button{
    font-size: 1rem;
    padding: 10px;
    margin: 10px 0px;
    width: 70%;
}
.flex-only-admin-sub{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#input-filtrar{
    font-size: 1rem;
    padding: 5px;
    margin: 3px 0px;
    width: 30%;
    text-align: center;
}
.desea-eliminar-editar,.desea-filtrar{
    font-style: italic;
    font-size: 1.2rem;
    color: rgba(69, 90, 100);
}
p.desea-filtrar{
    margin-top: 50px;
    text-align: center;
}
.contenedor-input-filtro,.contenedor-paginado{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.contenedor-paginado{
    margin-top: 40px;
}
#input-filtrar{
    background-color: transparent;
    border-radius: 10px;
    border: 1px rgb(56, 49, 49) solid;
}
.contenedor-paginado span{
    text-align: center;
    font-weight: bold;
}
#delete-table{
    width: 10px;
    height: 10px;
}
#form-edit{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-edit input,#form-edit button,#input-filtrar{
    font-size: 1rem;
    padding: 5px;
    margin: 3px 0px;
    width: 50%;
}
#edit-table{
    font-size: 0.7rem;
    padding: 3px 5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
}
#send-edit{
    border-radius: 20px;
    width: 30%;   
    background-color: rgba(69, 90, 100);
    color: white;
    border: white 2px solid;   
}
#form-edit.hide-contenedor{
    display: none;
}
.hide-contenedor{
    display: none;
}
td.especial-td{
    background-color:  rgb(229, 235, 247);
}
@media only screen and (min-width:600px){
    html{
        font-size: 12px;
    } 
    #btn-menu{
        display:none;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        margin-right: 20px;
    }
    nav ul li:hover{
        border: none; 
    }
    nav ul li{
        padding: 15px 15px;
    }
    nav ul li.contacto-nav{
        border: 3px rgb(32, 176, 193) solid;
        border-radius: 30px;
    }
    nav ul li.contacto-nav:hover{
        border: rgb(32, 176, 193) solid;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "cartelera cartelera"
        "porque-contador-texto porque-contador-imagen"
        "acerca-de acerca-de "
        "opiniones-clientes opiniones-clientes"
    }
    .porque-contador-texto-article{
        background-color:rgb(247, 240, 240);
        color: rgb(151, 149, 153); 
        animation: none;
    }
    .porque-contador-imagen,.porque-contador-texto-article,.cartelera-article{
        min-height: 600px;
    }
    .acerca-de-article figure img.imagen-contadora{
        width: 50%;
    }
    .acerca-de-article{
        min-height: 1000px;
    }
    .acerca-de-article div section{
        padding: 10px 150px 0px 150px;
    }
    .contenedor-opiniones{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .opinion{
        width: 25%;
    }
    .menu{
        padding: 0px 0px 0px 20px;
    }
    .icono-redes{
        width: 20px;
        height: 20px;
        padding: 4px;
        border: 2px solid black;
        margin: 4px;
    }
    footer p{
        font-size: 1.2rem;
    } 
    .lista-servicios li{
        padding:20px;
        margin:40px 0px;
    }
    td,th{
        padding:25px;
    }
    .monotributo{
        padding: 40px;
    }
    .contenedor-form-contacto{
        width: 70%;
    }
    .form-contacto select,.form-contacto input,.form-contacto textarea,.only-admin input, .only-admin select, .only-admin button{
        padding: 20px;
        margin: 20px 0px;
    }
    #check-politica-privacidad{     
        width: 20px;
    }
    .form-contacto button{
        padding: 20px 30px;
    }
    .only-admin{
        padding: 90px 40px;
        margin: 80px 0px;
    }
    .flex-only-admin-sub{
        flex-direction: row;
        justify-content: space-between;
    }
    .only-admin-btn{
        justify-content: center;
    }
    .only-admin input,.only-admin select{
        width: 45%;
    }
    .only-admin button{
        width: 40%;
    }
    #form-edit input, #form-edit button,#input-filtrar{
        padding: 15px;
        margin: 12px 0px;
        width: 25%;
    }
    #form-edit{
        margin-top: 100px;
    }
    #delete-table{
        width: 25px;
        height: 25px;
    }
    #edit-table{
        font-size: 1rem;
        padding: 7px 12px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 10px;
    }
}
@media only screen and (min-width:1600px){  /* No se tuvo en cuenta el sitio para tamaños de dispositivos muy 
    grandes como monitores de >25 pulgadas o televisores, solo se agranda la letra por si acaso*/
    html{
        font-size: 18px;
    } 
}