<div class="centrar-contenedor-form-contacto">
    <div class="contenedor-form-contacto">
        <img src="/web1/TPE3/images/logo.png" alt="Logo del estudio" class="logo">
        <p>Consultame sea cual sea tu necesidad, te puedo ayudar</p>
        <form action="" class="form-contacto" id="form-contacto">
            <div class="completar-datos-contacto">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" minlength="5" required>
                <select name="info-sobre" id="info-sobre" required>
                    <option value="">Información sobre:</option>
                    <option value="1">Administración financiera</option>
                    <option value="2">Asesoría​ contable</option>
                    <option value="3">Unipersonales</option>
                    <option value="4">Impuestos</option>
                    <option value="5">Liquidaciones de sueldos</option>
                    <option value="6">Otros</option>
                </select>
                <textarea name="consulta" cols="30" rows="5" placeholder="Tu consulta" id="consulta" required
                    minlength="10"></textarea>
            </div>
            <div class="politica-privacidad-contenedor">
                <input type="checkbox" name="check-politica-privacidad" id="check-politica-privacidad"
                    id="check-politica-privacidad" required>
                <label for="check-politica-privacidad">Estoy de acuerdo y acepto <span
                        class="texto-politica-privacidad">la
                        política de privacidad</span></label>
            </div>
            <div id="captcha">
                <img src="/web1/TPE3/images/captcha1.jpg" alt="Código de captcha" id="imagen-captcha">
                <input type="text" name="respuesta-captcha" id="respuesta-captcha"
                    placeholder="Ingrese las letras y/o números" required>
            </div>
            <button name="enviar">Enviar</button>
        </form>
        <p id="resultado-captcha"></p>
    </div>
</div>