<div class="container">
    <article class="cartelera-article">
        <section class="cartelera-section">
            <h1>AE | Estudio contable</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, dolorum delectus commodi, mollitia
                iste,
                cum esse animi repudiandae et reiciendis praesentium quasi quam quis. Ad veniam ipsam repellat
                nostrum
                provident.</p>
        </section>
    </article>

    <article class="porque-contador-texto-article">
        <section class="porque-contador-texto-section">
            <h1>¿Por qué un Contador?</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam asperiores suscipit
                voluptatibus
                dolorem itaque.</p>
        </section>
        <!--aquí podrían ir más sections con más info-->
    </article>

    <div class="porque-contador-imagen">
        <figure>
            <img src="/web1/TPE3/images/contabilidad-porque.png" alt="Imagen de Finanzas">
        </figure>
    </div>

    <article class="acerca-de-article" id="acercade">
        <div>
            <figure>
                <img src="/web1/TPE3/images/carousel-left.png" alt="Cambiar imagen hacia la izquierda" class="btn-carousel-left">
                <img src="/web1/TPE3/images/carousel1-contadora.jpg" alt="Imagen de la contadora" class="imagen-contadora">
                <img src="/web1/TPE3/images/carousel-right.png" alt="Cambiar imagen hacia la derecha" class="btn-carousel-right">
            </figure>
            <section>
                <h1>Estudios</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, expedita suscipit mollitia harum
                    doloremque debitis quod similique iste sequi esse molestiae ea perferendis qui, velit rem
                    blanditiis
                    repellat dolorum modi.</p>
            </section>
            <section>
                <h1>Proyectos</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum maxime laborum aliquid saepe
                    natus,
                    voluptatem similique eligendi provident inventore minus blanditiis! Nulla molestias ducimus
                    libero
                    delectus illum consequuntur iste non!</p>
            </section>
        </div>
    </article>

    <aside class="opiniones-clientes">
        <div>
            <h1>Una opción inteligente, confirmada</h1>
            <div class="contenedor-opiniones">
                <div class="opinion">
                    <span class="comilla-opinion">"</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nisi ab minima ut veniam,
                        iusto
                        nam
                        similique ex perferendis."</p>
                    <span class="pie-opinion">Martín Guzman - Ministro de Economía</span>
                </div>
                <div class="opinion">
                    <span class="comilla-opinion">"</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Crporis praesentium quo tempore
                        itaque
                        sunt.
                        Tempore itaque sunt" </p>
                    <span class="pie-opinion">Guido Sandleris - Presidente del Banco Central</span>
                </div>
                <div class="opinion">
                    <span class="comilla-opinion">"</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aut eveniet, laborum ut sed illo
                        nostrum
                        dolores eaque quaerat esse placeat!" </p>
                    <span class="pie-opinion">Juan Cuattromo - Presidente del Banco Provincia</span>
                </div>
            </div>
        </div>
    </aside>
</div>