<div class="contenedor-lista-servicios">
    <ul class="lista-servicios">
        <li>Gestión financiera</li>
        <li>Planificación fiscal</li>
        <li>Consultoría empresarial</li>
        <li>Procesamiento de pagos/salarios</li>
        <li>Asesoramiento impositivo</li>
    </ul>
</div>

<article class="monotributo">
    <h1>Cuotas y categorías Monotributo 2021</h1>
    <p>Enterate cuáles son las nuevas categorías y cuotas del <span>Monotributo 2021</span>, y qué cambios se
        aprobaron recientemente en
        el Congreso.</p>
    <p>El Monotributo es un impuesto simplificado para los pequeños contribuyentes. A
        diferencia de otros impuestos, el Monotributo se paga mediante una cuota fija mensual. Existen, actualmente,
        <span>11 categorías de Monotributo</span> distintas, que se determinan
        mediante la facturación anual del contribuyente. Todos los años, Afip actualiza el tope de facturación para
        cada una de las categorías, así como el importe de la cuota mensual que debemos pagar.
    </p>
    <div class="contenedor-only-admin">
        <div class="only-admin">
            <p>* Cargue como administrador los valores para dicha tabla</p>
            <form action="" id="form-only-admin">
                <div class="flex-only-admin-sub">
                    <select id="select-cat" name="select-cat" required>
                        <option value="">Categoria:</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                    </select>
                    <input type="number" placeholder="$ Ingresos brutos" id="input-ingresos-brutos"
                        name="input-ingresos-brutos" required min="1" max="1000000">
                </div>
                <div class="flex-only-admin-sub">
                    <input type="number" placeholder="$ Cosas muebles" id="input-cosas-muebles"
                        name="input-cosas-muebles" required min="1" max="1000000">
                    <input type="number" placeholder="$ Servicio" id="input-servicio" name="input-servicio" required
                        min="1" max="1000000">
                </div>
                <div class="flex-only-admin-sub only-admin-btn">
                    <button id="cargar-fila">Cargar fila ingresada</button>
                </div>
            </form>
            <div class="flex-only-admin-sub only-admin-btn">
                <button id="cargar-cats-randoms">Cargar categorias randoms</button>
            </div>
            <p id="aviso_cat_repetida"></p>
        </div>
    </div>

    <p class="desea-filtrar" id="text-filtrar">Filtre su búsqueda por monto de ingreso bruto</p>
    <div class="contenedor-input-filtro">
        <input type="number" id="input-filtrar" placeholder="Ejemplo: 5000">
    </div>
    <div class="contenedor-paginado">
        <span class="p-paginado-ant">.. anterior ..</span>
        <span class="p-paginado-sig">.. siguiente ..</span>
    </div>
    <div class="contenedor-tabla-monotributo">
        <table class="tabla-monotributo">
            <thead id="thead-monotributo">

            </thead>
            <tbody id="tbody-monotributo">

            </tbody>
        </table>
    </div>
    <a id="here-move"></a>

    <form action="" id="form-edit">
        <p>Usted editará la categoría<span id="text-form-edit"></span>. Por favor ingrese los nuevos datos a
            continuación:</p>
        <input type="number" placeholder="$ Ingresos brutos" id="edit-ingresos-brutos" name="edit-ingresos-brutos"
            required min="1" max="1000000">
        <input type="number" placeholder="$ Cosas muebles" id="edit-cosas-muebles" name="edit-cosas-muebles" required
            min="1" max="1000000">
        <input type="number" placeholder="$ Servicio" id="edit-servicio" name="edit-servicio" required min="1"
            max="1000000">
        <button id="send-edit">Enviar</button>
    </form>
</article>