body{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
header{
    justify-content: space-between;
    align-items: center;
}
header p{
    padding-left: 50px;
}
header,footer{
    display: flex;
    background-color: darkred;
    color: white; 
}
nav ul{
    display: flex;
    margin: 0px;
    padding:0px;
    padding-right: 50px;
}
nav ul li{
    padding: 10px;
    list-style-type: none;
}
footer{
    justify-content: center;
}
nav ul li.selected{
    color: darksalmon;
}
.principal{
    min-height: 700px;
}
.principal img{
    height: 300px;
}
.ocultar{
    display: none;
}
.principal div{
    display: flex;
    justify-content: center;
    margin: 10px;
}